<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Scale.AppSecrets.AppSecretsManager.VaultUrl" value="{Fully qualified Vault URL}"/>
    <add key="Scale.AppSecrets.AppSecretsManager.ClientId" value="{Azure AD Client ID}"/>
    <add key="Scale.AppSecrets.AppSecretsManager.ClientSecret" value="{Azure AD Client Secret}"/>
  </appSettings>
</configuration>